@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.overlay-gradient {
  background: linear-gradient(181.27deg, rgba(2, 2, 2, 0) 1.08%, #020202 32.8%);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #020202;
  padding-top: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #161618;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e2e35;
}
